{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    {{ if $Page.Params.categories }}
    <header class="article-category">
        {{ range ($Page.GetTerms "categories") }}
        {{ $color := partial "helper/color-from-str" .LinkTitle }}
        {{ $BackgroundColor := default $color.BackgroundColor .Params.style.background }}
        {{ $TextColor := default $color.TextColor .Params.style.color }}
        <a href="{{ .RelPermalink }}"
            style="background-color: {{ $BackgroundColor | safeCSS }}; color: {{ $TextColor | safeCSS }};">
            {{ .LinkTitle }}
        </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>
    </div>

    {{ $showDate := not $Page.Date.IsZero }}
    {{ $showWordCount := true }}
    {{ $showPageViews := true }}
    {{ $showTime := or $showDate $showWordCount $showPageViews }}
    {{ $showTags := and $Page.Site.Params.Article.List.ShowTags ($Page.GetTerms "tags") $IsList }}

    {{ if or $showTime $showTags }}
    <footer class="article-meta">
        {{ if $showTime }}
        <div class="inline-meta">
            {{ if $showDate }}
            {{ partial "helper/icon" "date" }}
            <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
            </time>
            {{ end }}

            {{ if and $showDate (not $Page.Lastmod.IsZero) (ne $Page.Lastmod $Page.Date) }}
            <span class="separator">|</span>
            {{ partial "helper/icon" "clock" }}
            <time class="article-time--modified" datetime='{{ $Page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{- $Page.Lastmod | time.Format $Page.Site.Params.dateFormat.lastUpdated -}}
            </time>
            {{ end }}

            {{ if and $showWordCount (or $showDate (not $Page.Lastmod.IsZero)) }}
            <span class="separator">|</span>
            {{ end }}

            {{ if $showWordCount }}
            {{ partial "helper/icon" "hash" }}
            <span class="article-word-count">
                {{ $Page.WordCount }} {{ T "article.words" }}
            </span>
            {{ end }}

            {{ if and $showPageViews (or $showDate $showWordCount (not $Page.Lastmod.IsZero)) }}
            <span class="separator">|</span>
            {{ end }}

            {{ if $showPageViews }}
            {{ partial "helper/icon" "eye" }}
            <span class="article-page-views">
                {{ if $IsList }}
                <span id="busuanzi_container_site_uv_{{ $Page.RelPermalink | md5 }}">
                    <span id="busuanzi_value_site_uv_{{ $Page.RelPermalink | md5 }}"></span> {{ T "article.pageViews" }}
                </span>
                {{ else }}
                <span id="busuanzi_container_site_uv">
                    <span id="busuanzi_value_site_uv"></span> {{ T "article.pageViews" }}
                </span>
                {{ end }}
            </span>
            {{ end }}
        </div>
        {{ end }}

        {{ with $Page.Params.description }}
        <div class="article-subtitle-wrapper">
            <h3 class="article-subtitle">
                {{ . }}
            </h3>
        </div>
        {{ end }}



        {{ if $showTags }}
        <div class="article-tags inline-meta">
            {{ partial "helper/icon" "tag" }}
            {{ range ($Page.GetTerms "tags") }}
            <a href="{{ .RelPermalink }}" class="link">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
    </footer>
    {{ end }}
</div>