<div id="aplayer"></div>
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>


<script>
    const staticDir = "{{ .Site.Home.Permalink }}" + 'music/';
    const songs = [
        '稻香-周杰伦'
    ];
    let audios = [];
    songs.forEach((item) => {
        const songInfo = item.split('-');
        audios.push({
            name: songInfo[0],
            artist: songInfo[1],
            url: staticDir + item + '/song.mp3',
            cover: staticDir + item + '/cover.jpg',
            lrc: staticDir + item + '/lyrics.lrc'
        });
    });
    const ap = new APlayer({
        fixed: true,
        listFolded: false,
        listMaxHeight: '90px',
        lrcType: 3,
        container: document.getElementById('aplayer'),
        audio: audios
    });

    /**
     * 页面销毁前监听
     */
    window.onbeforeunload = () => {
        // 将播放信息用对象封装，并存入到localStorage中
        const playInfo = {
            index: ap.list.index,
            currentTime: ap.audio.currentTime,
            paused: ap.paused
        };
        localStorage.setItem("playInfo", JSON.stringify(playInfo));
    };

    /**
     * 页面加载后监听
     */
    window.onload = () => {
        // 从localStorage取出播放信息
        const playInfo = JSON.parse(localStorage.getItem("playInfo"));
        if (!playInfo) {
            return;
        }
        // 切换歌曲
        ap.list.switch(playInfo.index);

        // 轮询等待音频加载完毕再执行下一步
        let checkCount = 0;
        let checkInterval = setInterval(() => {
            // readyState >= 1 意味着音频的元数据(时长等)已加载，可以进行 seek
            // 增加 checkCount > 10（即 500ms）超时的兼容操作，防止移动端拦截自动加载导致的死循环
            if (ap.audio.readyState >= 1 || checkCount > 10) {
                clearInterval(checkInterval);
                try {
                    // 调整时长
                    ap.seek(playInfo.currentTime);
                    // 是否播放
                    if (!playInfo.paused) {
                        let playPromise = ap.play();
                        if (playPromise && playPromise.catch) playPromise.catch(() => { });
                    }
                } catch (e) { }
            }
            checkCount++;
        }, 50);
    };
</script>